@import "tailwindcss";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #b88e2f;
  --color-card: #fff3e3;
}

body {
  font-family: var(--font-sans);
}
