---
import heroImage from "@/assets/hero/hero-image.png";
import { Image } from "astro:assets";
---

<section class="relative h-dvh w-full">
  <Image
    src={heroImage}
    alt="Furniture Hero Image"
    class="h-full w-full object-cover"
  />

  <div
    class="bg-card absolute top-1/2 right-16 flex max-w-3xl -translate-y-1/2 flex-col gap-8 rounded-xl px-12 pt-16 pb-10 shadow-lg"
  >
    <div class="flex flex-col gap-3">
      <h2 class="text-base font-semibold tracking-[2px]">New Arrival</h2>
      <h1 class="text-primary text-5xl leading-tight font-bold">
        Discover Our<br />New Collection
      </h1>
      <p class="text-lg leading-relaxed font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
    </div>
    <a
      class="bg-primary w-fit px-16 py-6 text-base font-bold text-white uppercase transition-all hover:brightness-110"
      href="/shop"
    >
      Buy Now
    </a>
  </div>
</section>
