---
import Logo from "@/assets/brand/furniro.svg";
import NavigationIcons from "./NavigationIcons.astro";
import NavigationItems from "./NavigationItems.astro";
---

<nav
  class="fixed top-0 right-0 left-0 z-50 flex h-24 items-center justify-between gap-8 bg-white px-12"
>
  <Logo />
  <NavigationItems />
  <NavigationIcons />
</nav>
