---
import Account from "@/assets/icons/account.svg";
import Cart from "@/assets/icons/cart.svg";
import Heart from "@/assets/icons/heart.svg";
import Search from "@/assets/icons/search.svg";
---

<div class="flex gap-8">
  <Account class="cursor-pointer transition-transform hover:scale-110" />
  <Search class="cursor-pointer transition-transform hover:scale-110" />
  <Heart class="cursor-pointer transition-transform hover:scale-110" />
  <Cart class="cursor-pointer transition-transform hover:scale-110" />
</div>
