---

---

<ul class="flex gap-16 text-base font-medium">
  <li><a href="/">Home</a></li>
  <li><a href="/about">Shop</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
