---
import Account from "@/assets/icons/account.svg";
import Cart from "@/assets/icons/cart.svg";
import Heart from "@/assets/icons/heart.svg";
import Search from "@/assets/icons/search.svg";
---

<div class="text-md flex gap-11">
  <Account />
  <Search />
  <Heart />
  <Cart />
</div>
